{% extends 'index.html' %}
{% block content %}
{% load static %}
<h1 align="center">TRANSPORT</h1>
<table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Car name</th>
            <th scope="col">Car model</th>
            <th scope="col">Weight max</th>
            <th scope="col">Owner</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

        {% for item in transport %}
            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.car_name }}</td>
                <td>{{ item.car_model }}</td>
                <td>{{ item.max_weight }}</td>
                <td>{{ item.owner }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}